chrome://global/skin/media/imagedoc-darknoise.png
chrome://global/skin/media/imagedoc-lightnoise.png
https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/DHRS7B_homology_model.png/350px-DHRS7B_homology_model.png
